# Minimal config fragment for RTD1295 WD My Cloud Home
# Goal: fit Image in 32MB partition

# ---- Architecture ----
CONFIG_ARCH_REALTEK=y

# ---- Disable ALL other SoC platforms ----
# CONFIG_ARCH_ACTIONS is not set
# CONFIG_ARCH_SUNXI is not set
# CONFIG_ARCH_ALPINE is not set
# CONFIG_ARCH_APPLE is not set
# CONFIG_ARCH_BCM is not set
# CONFIG_ARCH_BCM2835 is not set
# CONFIG_ARCH_BCM4908 is not set
# CONFIG_ARCH_BCM_IPROC is not set
# CONFIG_ARCH_BERLIN is not set
# CONFIG_ARCH_BRCMSTB is not set
# CONFIG_ARCH_EXYNOS is not set
# CONFIG_ARCH_SPARX5 is not set
# CONFIG_ARCH_K3 is not set
# CONFIG_ARCH_LG1K is not set
# CONFIG_ARCH_HISI is not set
# CONFIG_ARCH_KEEMBAY is not set
# CONFIG_ARCH_MEDIATEK is not set
# CONFIG_ARCH_MESON is not set
# CONFIG_ARCH_MVEBU is not set
# CONFIG_ARCH_MXC is not set
# CONFIG_ARCH_NPCM is not set
# CONFIG_ARCH_QCOM is not set
# CONFIG_ARCH_RENESAS is not set
# CONFIG_ARCH_ROCKCHIP is not set
# CONFIG_ARCH_S32 is not set
# CONFIG_ARCH_SEATTLE is not set
# CONFIG_ARCH_INTEL_SOCFPGA is not set
# CONFIG_ARCH_STM32 is not set
# CONFIG_ARCH_SYNQUACER is not set
# CONFIG_ARCH_TEGRA is not set
# CONFIG_ARCH_SPRD is not set
# CONFIG_ARCH_THUNDER is not set
# CONFIG_ARCH_THUNDER2 is not set
# CONFIG_ARCH_UNIPHIER is not set
# CONFIG_ARCH_VEXPRESS is not set
# CONFIG_ARCH_VISCONTI is not set
# CONFIG_ARCH_XGENE is not set
# CONFIG_ARCH_ZYNQMP is not set

# ---- CPU ----
CONFIG_SMP=y
CONFIG_NR_CPUS=4

# ---- Serial / Console ----
CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_SERIAL_8250_DW=y
CONFIG_SERIAL_OF_PLATFORM=y
CONFIG_EARLY_PRINTK=y

# ---- Block / Disk ----
CONFIG_BLK_DEV=y
CONFIG_ATA=y
CONFIG_SATA_AHCI=y
CONFIG_SATA_AHCI_PLATFORM=y
CONFIG_BLK_DEV_MD=y
CONFIG_MD_RAID1=y
CONFIG_BLK_DEV_SD=y
CONFIG_SCSI=y
CONFIG_SCSI_MOD=y
CONFIG_BLK_DEV_LOOP=y

# ---- Filesystems ----
CONFIG_EXT4_FS=y
CONFIG_EXT4_USE_FOR_EXT2=y
CONFIG_PROC_FS=y
CONFIG_SYSFS=y
CONFIG_TMPFS=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y

# ---- Networking (basic) ----
CONFIG_NET=y
CONFIG_INET=y
CONFIG_NETDEVICES=y
CONFIG_ETHERNET=y
CONFIG_NET_VENDOR_REALTEK=y
CONFIG_R8169SOC=y
CONFIG_PACKET=y
CONFIG_UNIX=y

# ---- USB ----
CONFIG_USB=y
CONFIG_USB_SUPPORT=y

# ---- I2C + PMIC (vendor) ----
CONFIG_I2C=y
CONFIG_I2C_RTK=y
CONFIG_MFD_CORE=y
CONFIG_MFD_G2227_I2C=y
CONFIG_REGULATOR=y
CONFIG_REGULATOR_G2227=y

# ---- IRQ mux (vendor) ----
CONFIG_IRQ_RTD129X_MUX=y

# ---- Reserved memory remap (vendor) ----
CONFIG_RTK_RSVMEM_REMAP=y

# ---- SATA PHY (vendor) ----
CONFIG_PHY_RTK_RTD_SATAPHY=y

# ---- RTD129x architecture ----
CONFIG_ARCH_RTD129x=y

# ---- Reduce size ----
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
# CONFIG_DEBUG_INFO is not set
# CONFIG_DEBUG_KERNEL is not set
# CONFIG_FTRACE is not set
# CONFIG_FUNCTION_TRACER is not set
# CONFIG_DRM is not set
# CONFIG_SOUND is not set
# CONFIG_SND is not set
# CONFIG_GPU_NOVA is not set
# CONFIG_WLAN is not set
# CONFIG_WIRELESS is not set
# CONFIG_CFG80211 is not set
# CONFIG_BT is not set
# CONFIG_INPUT_MOUSEDEV is not set
# CONFIG_INPUT_JOYDEV is not set
# CONFIG_INPUT_EVDEV is not set
# CONFIG_VT is not set
# CONFIG_VIRTUALIZATION is not set
# CONFIG_KVM is not set
# CONFIG_XEN is not set
# CONFIG_CRYPTO_USER is not set
# CONFIG_ACPI is not set
# CONFIG_EFI is not set

# ---- Keep modules support for future ----
CONFIG_MODULES=y
CONFIG_MODULE_UNLOAD=y

# ---- SWAP ----
CONFIG_SWAP=y

# ---- CMA ----
CONFIG_CMA=y
CONFIG_DMA_CMA=y

# ---- Of / Device Tree ----
CONFIG_OF=y
CONFIG_OF_EARLY_FLATTREE=y

# ---- Printk ----
CONFIG_PRINTK=y
